@layer base {
  input {
    @apply 
      border-2
      border-gray-300
      px-4
      py-2
      rounded-default
      transition-colors
      hover:border-indigo-500
      focus:outline-indigo-400; 
  }
}
@layer components {
  .search-form {
    @apply relative w-full mr-10 hidden md:block;
    .search-icon {
      @apply absolute top-0 h-full flex items-center px-4 text-gray-400;
    }
    input {
      @apply
      opacity-95
      bg-gray-50
      w-full
      mr-10
      py-3.5
      pl-12
      border-0
      transition
      focus:bg-white 
      focus:opacity-100
      hover:drop-shadow-lg
      hover:opacity-100
      hover:bg-white;
    }
  }

  .switch {
    @apply
      inline-block
      relative
      m-auto
      w-[40px] h-[20px]
      cursor-pointer
      overflow-hidden;
    input {
      @apply
        absolute -top-[30px] -left-[30px]
        w-0 h-0;
      & + span {
        @apply
          absolute top-0 bottom-0 left-0 right-0
          bg-gray-200
          rounded-full;
        &:before {
          @apply
            content-['']
            inline-block absolute top-1/2 left-1
            w-[12px] h-[12px]
            bg-white
            rounded-full
            -translate-y-1/2
            transition-all duration-300;
        }
      }
      &:checked + span {
        @apply bg-indigo-600;
        &:before {
          @apply left-[24px];
        }
      }
    }
  }
}